// Fonts
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$font-stack: 400 1rem/1.5 'Lexend Deca', sans-serif;
$font-heading: 700 1.5rem/1.6 'Big Shoulders Display', cursive;

$clr-primary: hsl(31, 77%, 52%);
$clr-secondary: hsl(184, 100%, 22%);
$clr-secondary-dark: hsl(179, 100%, 13%);

$clr-neutral: hsl(0, 0%, 95%);
$clr-neutral-lighter: hsla(0, 0%, 100%, 0.75);
