@import 'config';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family: $font-stack;
	background: $clr-neutral;
	line-height: 1.4;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3rem 1.5rem;
}

// Card Grid
.card-grid {
	display: grid;
	grid-template-columns: 1fr;
}

// Card
.card {
	padding: 3rem;

	&:nth-child(1) {
		background: $clr-primary;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	&:nth-child(2) {
		background: $clr-secondary;
	}

	&:nth-child(3) {
		background: $clr-secondary-dark;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	&-icon {
		display: block;
	}

	&-heading {
		font-family: $font-heading;
		font-size: 2.5rem;
		text-transform: uppercase;
		color: $clr-neutral;
		margin: 1.2rem 0;
	}

	&-text {
		color: $clr-neutral-lighter;
		font-size: 0.9rem;
		margin-bottom: 1.5rem;
		line-height: 1.7;
	}
}

// Button
.btn {
	display: inline-block;
	background: $clr-neutral;
	padding: 1rem 2rem;
	border: 2px solid $clr-neutral;
	border-radius: 50px;
	transition: all 0.5s ease;
	cursor: pointer;

	&-sedans {
		color: $clr-primary;
	}

	&-suvs {
		color: $clr-secondary;
	}

	&-luxury {
		color: $clr-secondary-dark;
	}

	&:hover,
	&:focus {
		background: none;
		color: $clr-neutral;
	}
}

.attribution {
	margin-top: 2rem;
	font-size: 11px;
	text-align: center;

	a {
		color: hsl(228, 45%, 44%);
		transition: color 0.3s ease;

		&:hover {
			color: $clr-primary;
		}
	}
}

@import 'media';
