@import 'config';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: $font-stack;
	background: $clr-neutral;
	line-height: 1.5;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1.3rem;
}

// Card Grid
.card-grid {
	display: grid;
	grid-template-columns: 1fr;
}

// Card
.card {
	padding: 3rem;

	&:nth-child(1) {
		background: $clr-primary;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	&:nth-child(2) {
		background: $clr-secondary;
	}

	&:nth-child(3) {
		background: $clr-secondary-dark;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	&-heading {
		font-family: $font-heading;
		font-size: 2rem;
		text-transform: uppercase;
		color: $clr-neutral;
		margin: 1rem 0;
	}

	&-text {
		color: $clr-neutral-lighter;
		margin-bottom: 1.5rem;
	}
}
